body {
    background-color: $whiteblue;

    @include media-breakpoint-down(md) {
        section {
            padding-bottom: 3rem;
        }
    }

    #hey {
        background-color: #202020;

        .filter {
            background: linear-gradient(90deg, #202020 0%, #202020 50%, rgba(32, 32, 32, 0.5) 100%);
            z-index: 2;
        }
    
        img {
            z-index: 1;
            object-fit: cover;
        }
    }

    #contact {
        .container {
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;

            li {
                i {
                    width: 1rem;
                }
    
                p {
                    line-height: 1rem;
                }
            }
        }

    }
}