.navbar_container {
    top: 2.5rem;
    transform: translateX(-50%);
    z-index: 10;
}

#navbar {
    a {
        font-family: $poppins;
        font-size: 1.5rem;
        color: $base-color;
        line-height: 2rem;
        font-weight: 600;
    }

    li.active a:after {
        content: "";
        position: absolute;
        background-color: $primary;
        width: 100%;
        height: 0.25rem;
        left: 0;
        bottom: -0.5rem;
    }
}