#pp-nav {
    @include media-breakpoint-down(md) {
        display: none;
    }

    &.right {
        right: 1rem !important;
    }

    li {
        height: 14px;

        a {
            span {
                border: 1px solid $primary !important;
                background-color: transparent;
            }

            &.active span {
                background-color: $primary;
            }
        }
    }
}