//import fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: $lato;
    font-size: 1rem;
    color: $base-color;
}

h1 {
    z-index: 3;
    font-family: $poppins;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 3.5rem;

    @include media-breakpoint-up(md) {
        font-size: 4rem;
        line-height: 5rem;
    }

    span:first-child {
        font-family: $lato;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.5rem;
    }

    span.text-primary {
        font-family: $lato;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2rem;

        @include media-breakpoint-up(md) {
            font-size: 2.5rem;
            line-height: 3rem;
        }
    }
}

h2 {
    font-family: $poppins;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: -2px;

    @include media-breakpoint-up(md) {
        font-size: 3rem;
        line-height: 4rem;
    }
}

h3 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 500;
    letter-spacing: -1px;
    font-family: $poppins;
}