//fonts
$lato: 'Lato', sans-serif;
$poppins: 'Poppins', sans-serif;

//colors
$base-color: #202020;
$black: #202020;
$primary: #FFBF00;
$whiteblue: #F5FAFA;

$logoColors: (
    "html5": #DC4A25,
    "sass": #C76395,
    "vuejs": #3EB27F,
    "laravel": #E8392C,
    "css3": #28A4D8,
    "js": #E8D44D,
    "php": #7277AD,
    "figma": #202020,
    "bootstrap": #7951B3,
    "wordpress": #217196,
    "linux": #EDB62D
);